*{
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}
.container{
    max-width: 1194px;
    margin: auto;
}
.header{
    display: flex;
    align-items: center;
    padding: 10px 0;
}
.search-form{
    margin-left: 76px;
    background: rgba(238, 238, 238, 0.71);
    border-radius: 10px;
    display: flex;
    max-width: 620px;
    flex-grow: 1;
    position: relative;
}
.search-input{
    background-color: transparent;
    border: none;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 13px;
    padding-bottom: 13px;
    margin-right: 50px;
}
.search-button{
    background-color: transparent;
    border: none;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    padding-right: 18px;
    padding-left: 18px;
    cursor: pointer;
}
.auth{
    margin-left: auto;
}
.login{
    background: #EBEBEB;
    border-radius: 50px;
    padding: 16px 30px;
    display: block;
    text-decoration: none;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
}
.shopping-cart{
    position: relative;
    width: 49px;
    height: 49px;
    border-radius: 50%;
    background: #F66A15;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
}
.shopping-counter{
    position: absolute;
    right: 0;
    bottom: 0;
    background: #FFAF19;
    font-size: 8px;
    line-height: 9px;
    color: #000000;
    text-decoration: none;
    display: block;
    padding: 5px;
    border-radius: 50%;
}
.slide{
    border-radius: 20px;
    min-height: 400px;
    display: flex;
    align-items: center;
    padding: 100px;
}
.slide-text-light{
    background-color: gray;
    color: white;
}
.slide-content{
    max-width: 400px;
}
.slide-title{
    margin-top: 0;
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 50px;
    line-height: 51px;
}
.slide-text{
    font-weight: bold;
    font-size: 16px;
    line-height: 23px;
    margin-bottom: 30px;  
}
.button-primary{
    background: #F47322;
    color: #FFF;
}
.button-default{
    background-color: #FFF;
    color: #5F5F61;
}
.button{
    border-radius: 25px;
    padding: 12px 50px;
    display: inline-block;
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 23px;
}
.slide-summer{
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.43) 40.45%, rgba(0, 0, 0, 0) 100%), url('../img/summer.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.container-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.promo{
    padding-top: 50px;
    padding-bottom: 50px;
    display: block;
    width: 570px;
}
.promo-left{
    padding-right: 10px;
}
.promo-right{
    padding-left: 10px;
}
.card{
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    padding: 32px;
    max-width: 570px;
    min-height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card::before{
    z-index: -1;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
}
.card-text-light{
    color: white;
}
.card-title{
    font-weight: 500;
    font-size: 24px;
    line-height: 23px;
    margin-top: 4px;
    margin-bottom: 21px;
}
.card-description{
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    max-width: 200px;
}
.card-price{
    display: block;
    font-weight: 500;
    font-size: 24px;
    line-height: 23px;
    margin-bottom: 8px;
}
.card-delivery{
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    margin-bottom: 25px;
}
.card-image{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    object-fit: cover;
}

